<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="LiveEmetalDataContextConnectionString" connectionString="User Id=reporter;Host=s-us-imetalus;Port=11061;Database=live_emetal;Initial Schema=public" />
        <add name="ODSReader" connectionString="metadata=res://*/Model.ODS.csdl|res://*/Model.ODS.ssdl|res://*/Model.ODS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S-US-DW01;initial catalog=ODS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>